{% extends 'landing.html' %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 450px;">

        <h3 class="text-center mb-4">Reset Password</h3>

        <form action={% url 'reset_pass_code' %} method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input 
                    type="email" 
                    name="email" 
                    class="form-control" 
                    placeholder="Enter your registered email" 
                    required
                >
            </div>

            <button type="submit" class="btn btn-primary w-100 mb-2">
                Send Reset code
            </button>

            <div class="text-center">
                <a href="{% url 'login' %}" class="text-decoration-none">
                    Back to login
                </a>
            </div>
        </form>

    </div>
</div>
{% endblock content %}