{% extends "landing.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-sm p-4" style="width: 100%; max-width: 450px;">

    <h3 class="text-center mb-4">Set New Password</h3>

    <form {% url 'confirm_password' %} method="post">
      {% csrf_token %}

      <!-- Email (readonly) -->
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          value="{{ request.session.reset_email }}"
          readonly
        >
      </div>

      <!-- New Password -->
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Enter new password"
          required
        >
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input
          type="password"
          name="confirm_password"
          class="form-control"
          placeholder="Confirm new password"
          required
        >
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Update Password
      </button>

    </form>

  </div>
</div>


{% endblock content %}


